* {
  box-sizing: border-box;
  margin: 0;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.card {
  display: flex;
  width: 840px;
  height: 248px;
  padding: 24px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  margin-right: 24px;
  background-image: url("./assets/img-house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  background-image: url("./assets/icon-favorite.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-content {
  flex-grow: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.plus-badge {
  padding: 1px 8px;
  margin-right: 8px;
  background-color: #92174d;
  border-radius: 4px;
  text-transform: uppercase;
}

.property-rate::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 1.5px;
  left: 2px;
  background-image: url("./assets/icon-star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.card-title {
  margin-bottom: 16px;
}

.property div {
  margin-bottom: 8px;
}

.property-detail dd span::after {
  content: "·";
  margin: 0 5px;
}

.property-detail dd span:last-child::after {
  content: "";
  margin: 0;
}
